<ion-view view-title="Teetime">
  <ion-content>
    <h1>{{teetime.course.name}}</h1>
    <p>{{teetime.date}} @ {{teetime.time}}</p>
    <button ng-click="openModal()">Add Pairing</button>
    <ion-list>
      <ion-item ng-repeat="pairing in teetime.pairings">
        <div class="list card">
          <ion-item>
            <div class="bar bar-header bar-positive">
              <h1 class="title">Group {{pairing.id}}</h1>
            </div>
          </ion-item>

          <ion-item>
            <div class="bar bar-header bar-positive">
              <span class="col-33">Name</span>
              <span class="col-33">Index</span>
              <span class="col-33">Total</span>
            </div>

          </ion-item>
          <ion-item ng-repeat="player in pairing.players" class="row">
            <span class="col col-33"><a href="#/app/scorecard/{{player.scorecardId}}">{{player.name}}</a>  </span>
            <span class="col col-33">{{player.courseIndex}}</span>
            <span class="col col-33">{{player.totalScore}}</span>
          </ion-item>

        </div>
      </ion-item>
    </ion-list>

  </ion-content>
</ion-view>
