<ion-view view-title="ScoreCard">
  <ion-content>
    <h4>{{player.firstName}} - {{course.name}}</h4>
    <!--<p> at {{scorecard.course.teetime}}</p>-->
    <!-- show the leaderboard? Add as sticky footer? -->
    <ion-item class="item-stable" ng-click="toggleLeaderboard()" ng-class="{active: isLeaderboardShown()}">
      <h3><i class="icon" ng-class="isLeaderboardShown() ? 'ion-minus' : 'ion-plus'"></i>&nbsp;Leaderboard</h3>

    </ion-item>
    <div class="list card item-accordion" ng-show="isLeaderboardShown()">
      <ion-item>
        <div class="bar bar-header bar-positive">
          <span class="col-33">Name</span>
          <span class="col-33">Index</span>
          <span class="col-33">Total</span>
        </div>

      </ion-item>
      <ion-item ng-repeat="scorecard in scorecards" class="row">
        <span class="col col-33"><a href="#/app/scorecard/{{scorecardId}}">{{scorecard.name}}</a>  </span>
        <span class="col col-33">{{scorecard.courseIndex}}</span>
        <span class="col col-33">{{scorecard.totalScore}}</span>
      </ion-item>

    </div>

    <ion-list>
      <ion-item>
        <div class="bar bar-header bar-positive row">
          <span class="col-25">Hole</span>
          <span class="col-25">Par</span>
          <span class="col-25">Hdcp</span>
          <span class="col-25">Score</span>
        </div>
      </ion-item>
      <ion-item ng-repeat="score in scorecard.scores" class="row">
        <span class="col-25">{{score.holeNumber}}</span>
        <span class="col-25">{{score.par}}</span>
        <span class="col-25">{{score.handicap}}</span>
        <span class="col-25">
              <div class="list">

                <div class="item item-input-inset">
                  <label class="item-input-wrapper">
                    <input type="number" placeholder="Name" ng-model="score.score" ng-change="update(score)">
                  </label>
                </div>
              </div>

        </span>
      </ion-item>
    </ion-list>
  </ion-content>

</ion-view>
