<ion-view view-title="Add Teetime">
  <ion-content>
    <div class="list">

      <label class="item item-input item-select">
        <div class="input-label">
          Select a course:
        </div>
        <select ng-model="teetime.courseId" ng-change="loadTeesets()">
          <option ng-repeat="option in allCourses" value="{{option.$id}}">{{option.name}}</option>
        </select>
      </label>
      <label class="item item-input item-select">
        <div class="input-label">
          Select a tee set:
        </div>
        <select ng-model="teetime.teeset">
          <option ng-repeat="option in teesets" value="{{option.$id}}" >{{option.name}}</option>
        </select>
      </label>
      <div class="item item-input-inset">
        <label class="item-input-wrapper">
          <input type="date" placeholder="Date" ng-model="teetime.playDate">
        </label>
      </div>
      <div class="item item-input-inset">
        <label class="item-input-wrapper">
          <input type="time" placeholder="Time" ng-model="teetime.time">
        </label>
      </div>

    </div>
    <h1>{{teetime.courseId}}</h1>
    <p>{{teetime.playDate}} @ {{teetime.time}}</p>
    <ion-list>
      <ion-checkbox ng-repeat="member in members" ng-model="member.selected">{{member.firstName}} {{member.lastName}}</ion-checkbox>
    </ion-list>

  </ion-content>
  <ion-footer-bar class="bar-stable">
    <div class="buttons">
      <button class="button button-positive ion-plus-circled" ng-click="closeModalSave()"> Save</button>
    </div>
  </ion-footer-bar>

</ion-view>
