<ion-view view-title="Teetime">
  <ion-content>
    <h1>{{course.name}}</h1>
    <p>{{teetime.playDate}} @ {{teetime.time}}</p>
    <ion-list>
        <div class="list card">
          <ion-item>
            <div class="bar bar-header bar-positive">
              <span class="col">Name</span>
              <span class="col">Index</span>
              <span class="col">Total</span>
              <span class="col">Net</span>
              <span class="col">Thru</span>
            </div>

          </ion-item>
          <ion-item ng-repeat="scorecard in scorecards" class="row">
            <span class="col col"><a href="#/app/scorecard/{{scorecard.$id}}">{{scorecard.name}}</a>  </span>
            <span class="col col">{{scorecard.courseIndex}}</span>
            <span class="col col">{{scorecard.totalScore}}</span>
            <span class="col col">{{scorecard.overUnderNet}}</span>
            <span class="col">{{scorecard.thru}}</span>
          </ion-item>

        </div>
    </ion-list>

  </ion-content>
  <ion-nav-buttons side="right">
    <button class="button button-balanced" ng-click="openModal()">Add Players</button>
  </ion-nav-buttons>

</ion-view>
