<ion-view view-title="Course">
  <ion-content>

    <h1>{{course.name}}</h1>

    <div class="list">

      <div class="item item-input-inset">
        <label class="item-input-wrapper">
          <input type="text" placeholder="Name" ng-model="course.name">
        </label>
      </div>
      <div class="item item-input-inset">
        <label class="item-input-wrapper">
          <input type="text" placeholder="Address" ng-model="course.address">
        </label>
      </div>
      <div class="item item-input-inset">
        <label class="item-input-wrapper">
          <input type="text" placeholder="Phone" ng-model="course.phone">
        </label>
      </div>
      <div class="item item-input-inset">
        <label class="item-input-wrapper">
          <input type="text" placeholder="WebSite" ng-model="course.website">
        </label>
      </div>
      <div class="item item-input-inset">
        <label class="item-input-wrapper">
          <input type="text" placeholder="ImageUrl" ng-model="course.image">
        </label>
      </div>

      <ion-list>
        <div ng-repeat="teeset in course.teesets">
          <ion-item class="item-stable"
                    ng-click="toggleHoles(teeset)"
                    ng-class="{active: areHolesShown(teeset)}">
            <i class="icon" ng-class="areHolesShown(teeset) ? 'ion-minus' : 'ion-plus'"></i>&nbsp;{{teeset.name}}

            <div class="list">
              <label class="item item-input">
                <span class="input-label">Slope</span>
                <input type="text" ng-model="teeset.slope">
              </label>
              <label class="item item-input">
                <span class="input-label">Rating</span>
                <input type="text" ng-model="teeset.rating">
              </label>
            </div>
          </ion-item>

          <div class="item-accordion" ng-show="areHolesShown(teeset)">
            <ion-item>
              <div class="bar bar-header bar-positive">
                <span class="col-25">Hole</span>
                <span class="col-25">Par</span>
                <span class="col-25">Yards</span>
                <span class="col-25">Handicap</span>
              </div>
            </ion-item>

            <ion-item class="row" ng-repeat="hole in teeset.holes">
              <span class="col col-25">{{hole.number}}</span>
              <label class="col col-25 item item-input">
                <input type="text" ng-model="hole.par">
              </label>
              <label class="col col-25 item item-input">
                <input type="text" ng-model="hole.yards">
              </label>
              <label class="col col-25 item item-input">
                <input type="text" ng-model="hole.handicap">
              </label>
            </ion-item>

          </div>
        </div>
      </ion-list>
    </div>
  </ion-content>
  <ion-footer-bar class="bar-stable">
    <div class="buttons">
      <button class="button button-positive" ng-click="save(course)"> Save</button>
    </div>
  </ion-footer-bar>

</ion-view>
