<ion-view view-title="Courses">
  <ion-content>
    <ion-list>
      <ion-item ng-repeat="course in courses" href="#/app/courses/{{course.$id}}">
        <div class="list card">
          <div class="item item-body">
            <img src="{{course.image}}">
            <h2>{{course.name}}</h2>
            <h2><a href="tel:{{course.phone}}">{{course.phone}}</a></h2>
            <p><a href="{{course.website}}" target="_blank">Website</a></p>
            <p><a href="https://www.google.com/maps?q={{course.address}}" target="_blank">Directions</a></p>
          </div>
          <div class="item item-body" ng-repeat="teeset in course.teesets">
            <h2>{{teeset.name}} - {{teeset.slope}}/{{teeset.rating}}</h2>
          </div>
        </div>
      </ion-item>
    </ion-list>
  </ion-content>
  <ion-footer-bar class="bar-stable">
    <div class="buttons">
      <button class="button button-positive ion-plus-circled" ui-sref="app.newcourse"> Add</button>
    </div>
  </ion-footer-bar>
</ion-view>
