<ion-view view-title="Course">
  <ion-content>
    <h1>{{course.name}}</h1>
    <p>{{course.teetime}}</p>
    <ion-list>
      <ion-item ng-repeat="pairing in pairings">
        <div class="list card">
            <ion-item>
              <div class="bar bar-header bar-positive">
                <h1 class="title">Group {{pairing.id}}</h1>
              </div>
            </ion-item>

            <ion-item>
              <div class="bar bar-header bar-positive">
                <span class="col-33">Name</span>
                <span class="col-33">Index</span>
                <span class="col-33">Total</span>
              </div>

            </ion-item>
              <ion-item ng-repeat="player in pairing.players" class="row">
                <span class="col col-33"><a href="#/app/scorecard/{{player.scorecardId}}">{{player.name}}</a>  </span>
                <span class="col col-33">{{player.scorecard.courseIndex}}</span>
                <span class="col col-33">{{player.scorecard.totalScore}}</span>
              </ion-item>

        </div>
      </ion-item>
    </ion-list>

  </ion-content>
</ion-view>
